---
import List from '../components/List.jsx';
import Layout from '../layouts/Layout.astro';
import { readFileSync } from "fs";
import { parse } from "csv-parse/sync";
import "bootstrap/dist/css/bootstrap.min.css";

const csvText = readFileSync("data/countries.csv", "utf-8");

const records = parse(csvText, {
  columns: true,
  skip_empty_lines: true,
});
---

<Layout>
	<div class="container py-4">
		<List records={records} client:load />
	</div>
</Layout>
