---
import List from '../components/List.jsx';
import Layout from '../layouts/Layout.astro';
import { countries } from '../data/countries.js';
import "bootstrap/dist/css/bootstrap.min.css";

const records = countries;
---

<Layout>
	<div class="container py-4">
		<List records={records} client:load />
	</div>
</Layout>
